<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mei.ricardo.pessoa.app" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="mei.ricardo.pessoa.app.permission.MAPS_RECEIVE" />

    <permission
        android:name="mei.ricardo.pessoa.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mei.ricardo.pessoa.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="mei.ricardo.pessoa.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD0CwdodkZnz-18--hdsQinhhS6wC8vTtw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="mei.ricardo.pessoa.app.ui.user.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mei.ricardo.pessoa.app.ui.Navigation.MainActivity" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Fragments.FragmentMyDashboard"
            android:label="@string/title_activity_fragment_my_dashboard" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Fragments.FragmentMyDevices"
            android:label="@string/title_activity_fragment_my_devices" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Fragments.FragmentMyProfile"
            android:label="@string/title_activity_fragment_my_profile" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Fragments.FragmentSettings"
            android:label="@string/title_activity_fragment_settings" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.user.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Device.AddDevice"
            android:label="@string/title_activity_add_device" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Sensor.ActivitySensors"
            android:label="@string/title_activity_sensors" >
        </activity>
        <activity
            android:name="mei.ricardo.pessoa.app.ui.Settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
