<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mei.ricardo.pessoa.app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="mei.ricardo.pessoa.app.permission.MAPS_RECEIVE" />

    <permission
        android:name="mei.ricardo.pessoa.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mei.ricardo.pessoa.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD0CwdodkZnz-18--hdsQinhhS6wC8vTtw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.user.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.Fragments.FragmentMyDashboard"
            android:label="@string/title_activity_fragment_my_dashboard" />
        <activity
            android:name=".ui.Fragments.FragmentMyDevices"
            android:label="@string/title_activity_fragment_my_devices" />
        <activity
            android:name=".ui.Fragments.FragmentMyProfile"
            android:label="@string/title_activity_fragment_my_profile" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_fragment_settings">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Navigation.MainActivity" />
        </activity>
        <activity
            android:name=".ui.user.RegisterActivity"
            android:label="@string/title_activity_register" />

        <activity
            android:name=".ui.MonitoringSensor.ActivityMonitorSensorGPS"
            android:label="@string/title_activity_monitor_sensor_safezones">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.MonitoringSensor.ActivityMonitorSensorDetail"
            android:label="@string/title_activity_monitor_sensor_panic_button">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDashboard" />
        </activity>
        <activity
            android:name=".ui.Device.AddDevice"
            android:label="@string/title_activity_add_device">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.Sensor.ActivityListSensors"
            android:label="@string/title_activity_sensors">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.Sensor.Safezone.ActivityListSafezones"
            android:label="@string/title_activity_list_safezones">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>

        <activity
            android:name=".ui.Sensor.Safezone.ActivitySafezoneOptions"
            android:label="@string/title_activity_safezone">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.Sensor.Safezone.ActivityEditNameSafezone"
            android:label="@string/title_activity_activity_edit_name_safezone">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.Sensor.Safezone.ActivitySafezoneEditMap"
            android:label="@string/title_activity_activity_safezone_edit_map"
            android:launchMode="singleTop"> <!-- singleTop to not open a new activity -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.Sensor.Temperature.ActivityTemperature"
            android:label="@string/title_activity_activity_temperature">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.Sensor.Battery.ActivityBattery"
            android:label="@string/title_activity_activity_battery">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDevices" />
        </activity>
        <activity
            android:name=".ui.MonitoringSensor.ActivityListMonitorSensorPBTempBatt"
            android:label="@string/title_activity_activity_monitor_sensor_pbtemp_batt">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Fragments.FragmentMyDashboard" />
        </activity>
    </application>

</manifest>
